.imgLogo {
    width: 30%;
    margin: 0px 35%;
}

.contentDisplay {
    text-align: center;
}

@media only screen and (min-width: 600px) {
    .contentDisplay {
        margin: 10% 0px;
    }
}

@media only screen and (max-width: 600px) {
    .contentDisplay {
        margin: 10% 0px;
    }
}

@media only screen and (min-width: 768px) {
    .contentDisplay {
        margin: 10% 20%;
    }
}

@media only screen and (min-width: 992px) {
    .contentDisplay {
        margin: 10% 24%;
    }
}

@media only screen and (min-width: 1200px) {
    .contentDisplay {
        margin: 5% 30%;
    }
}

canvas {
    background-color: #464646;
    position: fixed !important;
    ;
}